<!-- 카테고리 상세페이지 표시방식 -->

<!-- 날짜 카테고리 사이의 여백용 -->
<style>
    .space {
        margin-left: 5px;
    }
</style>


{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
    <article class="archive-item">
        <div>
            <small>
                <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.date | date: " %Y.%m.%d" }}
                <span class="space"></span>
            </small>

            <span>
                <a href="{{ post.url }}">{{post.title}}</a>
            </span>

            <small>
                <span class="space"></span>
                {%- include post__taxonomy.html -%}
            </small>
        </div>
    </article>
</div>

